 <link rel="stylesheet" href="/css/homePage.css">
 <header>
    <div id="header-inner">
      <a href="#" id="logo"></a>
      <nav>
        <a href="#" id="menu-icon"></a>
          <ul>
             <li><a href="#" class="current">Home</a></li>
             <li><a href="#">User</a></li>
             <li><a href="/login">Logout</a></li>
          </ul>
      </nav>
    </div>
  </header> 
  <section class="banner">
    <div class="banner-inner">
      <img src="/images/rocket_design_k4nzbm.png">
    </div>
  </section>